<link rel="icon" href="{{ url_for('static', filename='img/logo1.png') }}" type="image/x-icon">

{% extends 'layout.html'%}

{% block body %}

<div class="bg-body-tertiary p-5 rounded jumberton text-center"> 
    <h1>  شركة وردة الزهور </h1>
    <br></br>
    <h5> شركة وردة الزهور لتجارة السيارات والنقل العام والتجارة العامة محدودة المسؤولية </h5>
    <h5> تم تاسيس الشركة في 15 اذار 2023 </h5>
    <h5> استيراد السيارات الحديثة من جميع المناشئ العالمية </h5>
    <h5> الفرع الاول بغداد / حي القادسية - م / 602 ش / 11 ع / 3 / 148 </h5> 
    <h5> الفرع الثاني / الموصل الساحل الايسر مدينة المعارض </h5>
    <h5> للتواصل معنا انتقل الى صفحة الدعم </h5>
    <br></br>

    <a class="btn btn-lg btn-primary" href="/supp" role="button"> الدعم &raquo;</a> 

{% endblock %}
