<link rel="icon" href="{{ url_for('static', filename='img/logo1.png') }}" type="image/x-icon">



{% extends 'layout.html'%}




{% block body %}


<div class="bg-body-tertiary p-5 rounded jumberton text-center"> 




    <img src="{{ url_for('static', filename='img/logo.jpg') }}" alt="My Image" class="img-fluid img-thumbnail">
    <br></br>
    
    <h1> شركةوردة الزهور </h1>
    <br></br> 
    <h1> ROSE FLOWER COMPANY </h1>
    <br></br>
    <p class="lead">الأصالة هي تاريخ طويل من التميز والابتكار ، وبمجد تليد وسبق في الإنجاز تقدم معارضنا في     العراق تجربة فريدة في تجارة السيارات مع احدث الموديلات وأعلى المواصفات 
        بإمكانك زيارة احد فروعنا في بغداد او الموصل لوقوف على عروضنا في السيارات الحديثة وسنضمن لك الرضاء والتميز</p>

        <br></br>







        <div class="container-fluid marketing">

            <video width="500" height="400" controls>
                <source src="{{ url_for('static', filename='img/video2.mp4') }}" type="video/mp4" class="video-fluid video-thumbnail">
                Your browser does not support the video tag.
            </video>
            <br></br>
            <video width="500" height="400" controls>
                <source src="{{ url_for('static', filename='img/video1.mp4') }}" type="video/mp4" class="video-fluid video-thumbnail">
                Your browser does not support the video tag.
            </video>
            <br></br>

            
            
            
            
            <br></br>
            <img src="{{ url_for('static', filename='img/img1.jpg') }}" alt="My Image" class="img-fluid img-thumbnail">
            <br></br>
            <img src="{{ url_for('static', filename='img/img2.jpg') }}" alt="My Image" class="img-fluid img-thumbnail">
        </div>
        <br></br>
        <br></br>
        <div class="container-fluid marketing">

            
            <img src="{{ url_for('static', filename='img/img3.jpg') }}" alt="My Image" class="img-fluid img-thumbnail">
        </div>
            <br></br>
            <div class="container-fluid marketing">

            <img src="{{ url_for('static', filename='img/img4.jpg') }}" alt="My Image" class="img-fluid img-thumbnail">
            <br></br>
            </div>
            <br></br>
            <img src="{{ url_for('static', filename='img/img5.jpg') }}" alt="My Image" class="img-fluid img-thumbnail">
            <br></br>
            <br></br>
            <img src="{{ url_for('static', filename='img/img6.jpg') }}" alt="My Image" class="img-fluid img-thumbnail">
            <br></br>
            <br></br>
            <img src="{{ url_for('static', filename='img/img7.jpg') }}" alt="My Image" class="img-fluid img-thumbnail">
            <br></br>
            <br></br>
            <img src="{{ url_for('static', filename='img/img8.jpg') }}" alt="My Image" class="img-fluid img-thumbnail">
            <br></br>
            <img src="{{ url_for('static', filename='img/img9.jpg') }}" alt="My Image" class="img-fluid img-thumbnail">
            <br></br>
            <img src="{{ url_for('static', filename='img/img10.jpg') }}" alt="My Image" class="img-fluid img-thumbnail">
            <br></br>
            <div class="container-fluid marketing centering">
                <h1> مدير الشركة / بغداد صابر رشيد عبدالله </h1>
            <img src="{{ url_for('static', filename='img/img11.jpg') }}" alt="My Image" class="img-fluid img-thumbnail">
            </div>
            <br></br>
            <div class="container-fluid marketing centering">
                <h1> المدير المفوض فرع الموصل / قيس مجيد </h1>
            <img src="{{ url_for('static', filename='img/img12.jpg') }}" alt="My Image" class="img-fluid img-thumbnail">
            </div>




              
        </div>



       

        

{% endblock %}


