    <link rel="icon" href="{{ url_for('static', filename='img/logo1.png') }}" type="image/x-icon">


{% extends 'layout.html'%}

{% block body %}

<div class="bg-body-tertiary p-5 rounded jumberton text-center"> 
    <h1> شركة وردة الزهور لتجارة السيارات والنقل العام والتجارة العامة محدودة المسؤولية </h1> 
    <div>
    <br></br>
    <p class="lead">  نحن نعمل في مجال تجارة السيارات والنقل العام والتجارة العامة منذ عام 2023 </p>
    <p class="lead"> التواصل معنا عبر الارقام </p> 
    <p> موبايل مدير الشركة بغداد صابر رشيد عبدالله  </p>
    <p> 009647703030030  </p>
    <p> 009647503165555  </p>
    <p> المدير المفوض فرع الموصل / قيس مجيد </p>
    <p> 009647728215640  </p>
    <p> 009647701609545  </p>
    <p> رقم الواتساب </p>
    <p> 009647701609545  </p>
    <p> 009647728215640  </p>
    </div>
    

{% endblock %}
